body {
  margin: 0px;
  padding: 0px;
  font-family: "louis";
  background: #191717;
  color: #dbc5b6;
}

@font-face {
  font-family: "louis";
  src: url("./assets/fonts/louis.ttf") format("truetype");
}

@font-face {
  font-family: "monday";
  src: url("./assets/fonts/monday.ttf") format("truetype");
}

@font-face {
  font-family: "rowdies";
  src: url("./assets/fonts/Rowdies-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "morris";
  src: url("./assets/fonts/breathfire.otf") format("opentype");
}

.solid {
  margin: 1rem;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  margin-left: 10vw;
  flex-wrap: wrap;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 50rem;
}

.frontInfo {
  margin-top: 2rem;
  width: 59vw;
  font-size: 1.4rem;
  color: #b7a59a;
}

.navigator {
  overflow-x: auto;
  height: 100%;
  margin: none;
  padding: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 0px #000000;
  z-index: 5;
}

.pageContainer {
  height: 100%;
}

.pageContainer a {
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.pageContainer a:hover {
  backdrop-filter: brightness(70%) saturate(150%);
}

.pageContainer .active {
  backdrop-filter: brightness(40%) saturate(200%);
}

.pages {
  overflow-x: wrap;
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-rows: 8vh 1fr;
  width: 100vw;
  height: 100vh;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  overflow-x: hidden;
}

h2 {
  color: #b7a59a;
  font-size: min(4.5vw, 100px);
}

.mainContent h1 {
  color: #e7ddd7;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "rowdies";
  padding: 0;
  font-size: min(19vw, 13rem);
  text-shadow: rgb(106, 102, 102) 0px 0 10px;
}

.mainContent h4 {
  margin-bottom: 0px;
  color: #c8c0ba;
  margin-bottom: 1vh;
  font-size: min(3vw, 40px);
}

.catCanvas {
  position: absolute;
  top: 5%;
  right: -5%;
  width: 90%;
  height: 90%;
}

.dinoContainer {
  grid-area: dino;
  position: relative;
  display: block;
  height: 80vh;
}

.dinoCanvas {
  position: absolute;
  top: -20%;
  height: 140%;
  max-height: 65rem;
  min-height: 25rem;
  width: 250%;
  max-width: 90rem;
  min-width: 70rem;
}

#dinnerLogo {
  margin-top: 2rem;
  padding: 0;
  width: 70vw;
  object-fit: cover;
}

#tossLogo {
  margin: 2rem;
  padding: 0;
  width: 60vw;
  object-fit: cover;
}

.bigImage {
  border-radius: 30px;
  margin: 1rem;
  padding: 0;
  width: 80vw;
  object-fit: contain;
}

.infoContainer {
  /* min-width: 300px;
  width: 50vw; */
  flex: 3;

  border-radius: 30px;
  padding: 3rem;
  font-size: 1.5rem;
  background-color: #2b2523;
}

.twoColumnsSpecial {
  height: 60vh;
  display: grid;
  grid-template-columns: 30vw 40vw;
  grid-template-areas: "awards dino";
}

.info {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paperThing {
  grid-area: awards;
  display: grid;
  grid-template-rows: 70% 1fr;
}

.award {
  text-align: center;
}
.awards {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.awardsBox {
  flex: 1;

  /* width: auto; */
  margin: 2rem 0rem;
  border-radius: 30px;
  padding: 1rem 3rem 3rem 3rem;
  font-size: 1.5rem;
  background-color: #2b2523;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.twoColumnsAsymmetrical {
  /* margin: 1rem;

  
  display: grid;
  grid-template-columns: 50vw minmax(0, 1fr);
  column-gap: 2rem; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  width: 80vw;
  flex-wrap: wrap;
}

.twoColumnsAsymmetrical2 {
  margin: 1rem;
  width: 80vw;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 50vw;
  column-gap: 2rem;
}

.columns {
  /* margin: 1rem;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr minmax(0, 1fr);
  column-gap: 1rem; */
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  width: 80vw;
  flex-wrap: wrap;
}

.displayImage2 {
  flex: 1;
  min-width: 350px;
  width: 30%;
  border-radius: 30px;
  margin: 1rem;
  object-fit: contain;
}

.displayImage3 {
  flex: 1;
  min-width: 200px;
  width: 30%;
  border-radius: 30px;
  margin: 1rem;
  object-fit: contain;
}

.playButton {
  display: block;
  margin: 3rem;
  width: auto;
  background-color: #fe9d6b;
  opacity: 50%;
  color: white;
  border-radius: 30px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roleBar {
  flex-wrap: wrap;
  margin: 1rem 0rem 3rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.role {
  text-align: center;
  border-radius: 2rem;
  display: block;
  background-color: #2b2523;
  font-size: 1rem;
  padding: 0.5rem 4rem;
  margin: 0.5rem;
}

.bg {
  z-index: -1000;
  position: absolute;
  width: 100vw;
  opacity: 20%;
}

h4 {
  font-size: 2rem;
  font-family: "rowdies";
}

.tosslogo {
  font-family: "rowdies";
  font-size: min(12rem, 16vw);
  color: rgb(239, 228, 219);
  text-shadow: rgb(0, 0, 0) 0px 0 10px;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(198, 184, 177); */
}

.gasslogo {
  font-family: "morris";
  font-size: min(12rem, 16vw);
  color: rgb(239, 228, 219);
  text-shadow: rgb(0, 0, 0) 0px 0 10px;
}

.artPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.artPage h2 {
  font-family: "rowdies";
  color: #e7ddd7;
}

.artDisplay {
  width: 100vw;
  height: 50vh;
  overflow: scroll;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.artPiece {
  border-radius: 30px;
  height: 100%;
}

.beatrice {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.beatriceGallery {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.specialBeatrice {
  flex: 1;
}

.beatricePic {
  border-radius: 30px;
  width: max(20vh, 14vw);
}

.videoContainer {
  width: 100%;
  flex: 1;
}

.video {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.linkButton {
  text-decoration: none;
  margin: 1rem;
  padding: 1rem 2rem;
  width: auto;
  background-color: #5c4b43;
  color: #e7ddd7;
  border-radius: 30px;
  font-size: 1rem;
  text-align: center;
  z-index: 5;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
